.d{
    background:url(../ad/1PH4114220-3.jpg) no-repeat;
    background-position:100% 40%;
}
.b{ font-family: 华文行楷;
    color:#336699;
    font-size:36px;/*字体大小*/
    width: 210px;
    margin: 0 150px ;
   }
